/* Google font import*/

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Montserrat:wght@100;300;400;900&family=Oswald:wght@200;300;400;500;600;700&family=Poppins:wght@100;300;400;500;600;700&family=Ubuntu:wght@300;400;700&display=swap');
/* Asterisk Wildcard Selector to override browser default styles */
 /* To set the toggle add a display flex to here and JC-sBtw */
/* min-height allows  to strecth larger than Heigth of screen when theres enough content on the screen ; */


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


:root {

    --primaryColor: linear-gradient(#7ae2a2fe, #50977be0);
    --headerColor: linear-gradient(45deg, #4a504aea, #214321, #008000);
    --footerColor: #3a3a3a;
    --textColor: #fff;
    --text-box-color: #fdfdfde0;
    --font-size: 2.5rem;
    --AccentGreen: #95f4ab;
    --filter-Shadow: drop-shadow(0 0 20px #00000033);
    --textCenterAlign: center;
    --textRightAlign: right;
    --textLeftAlign: left;
    --display-flex: flex;
    --JC-spaceBtw: space-between;
    --JC-spaceArd: space-around;
    --AlignItems-Baseline: baseline;
    --AlignItems-Center: center;

}
.header-Custom {
    --headerColor: linear-gradient(45deg, #4a504aea, #214321, #008000);
    --textAlign: center;
    --JC-spaceBtw: space-between;
    --JC-spaceArd: space-around;
    --JC-center: center;
    --BG-Color: #ffffff;
}

.bodyCustom {
    --vh: 100vh;
    --Font-Family: 'Lato', sans-serif;
    display: var(--display-flex);
    --background: #bbe7de;
}

body {
    min-height: var(--vh);
    display: flex;
    flex-direction: column;
    /* Generic project styles */
    background: #bbe7de;
    font-family: 'Lato', sans-serif;

}

header {
    background-color: #fff;
    position: fixed;
    width: 100%;
    z-index: 99;
    padding-inline: 1rem;
    box-shadow: 0 2px 2px var(--footerColor);
    display: var(--display-flex);
    justify-content: var(--JC-spaceBtw);
    align-items: var(--AlignItems-Baseline);


}

header a {
    text-decoration: none;
    color: var(--primaryColor);

}

h1 {
    display: var(--display-flex);
    text-transform: uppercase;
    color: var(--headerColor);
    font-family: 'Oswald', sans-serif;
    letter-spacing: 2px;
    align-items: var(--AlignItems-Center);
}

#menu {
    letter-spacing: 4px;
    list-style: none;
    font-size: 110%;
    font-weight: 250;

}

#menu>li {
    margin-bottom: 1em;
}

nav {
    position: absolute;
    background-color: inherit;
    width: 100%;
    left: 0;
    padding-inline: 1rem;
    box-shadow: 0 2px 2px var(--footerColor);
    display: none;
    top: 100%;

}

#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}
.nav-toggle-label {
    font-size: 2rem;
    font-weight: 100;
}
.active {
    border-bottom: 1px solid var(--footerColor);
}

.main {
    margin-top: 47px;
    flex: 1 0 auto;
}
#hero {
    background: url("../images/hero.webp") no-repeat center center/cover;
    height: 600px;
    width: 100%;
    position: relative;
}
#cover-text {
    font-size: 130%;
    position: absolute;
    width: 80%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: var(--textCenterAlign);
    background-color: inherit;
    font-weight: bold;
   
}

#cover-text p,
#cover-text span {
    color: #fff;
    font-size: 20px;
    text-align: var(--AlignItems-Baseline);
    font-weight: 600;
    background-color: #f5deb344;

}

/* SPECIALS  */
.specials {
    width: 80%;
    margin: auto;
    text-align: var(--textCenterAlign);
}



.specials-col {
    flex-basis: 31%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: var(--textLeftAlign);

}

.specials-col img {
    width: 100%;
    border-radius: 10px;
}

.specials-col p {
    padding-block: 0;
}

.specials-col h3 {
    margin-top: 20px;
    margin-bottom: 15px;
    text-align: var(--textLeftAlign);
}

.specials h2,
p {
    margin-top: 5px;
    display: block;
    padding-block: 10px;
}

/* CTA */
.cta {
    margin: 100px auto;
    width: 80%;
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    padding: 100px 0;
    text-align: var(--textCenterAlign);
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../images/AfricanPot.webp");
}

.cta h2 {
    text-transform: none;
    color: #fff;
    margin-bottom: 40px;
    padding: 0;
}

.btn {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px dotted var(--text-box-color);
    padding: 12px 34px;
    font-size: 15px;
    background: var(--footerColor);
    position: relative;
    cursor: pointer;

}

.btn:hover {
    border: 1px solid var(--primaryColor);
    background: #bbe7de;
    transition: 1s;

}

/* ----contact us page---- */
.location {
    width: 80%;
    margin: auto;
    padding: 80px 0;

}

.location iframe {
    width: 100%;
}

.contact-us {
    width: 80%;
    margin: auto;
}

.contact-col {
    flex-basis: 48%;
    margin-bottom: 30px;
}

.contact-col div {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}

.contact-col .fa {
    color: #3a3a3a;
    font-size: 28px;
    margin: 10px;
    margin-right: 30px;
}

.contact-col div p {
    padding: 0;
}

.contact-col div h5 {
    font-size: 16px;
    margin-bottom: 5px;
    color: var(--headerColor);
    font-weight: 400;
}

.contact-col input,
.contact-col textarea {
    width: 100%;
    padding: 15px;
    border: 1px solid #ccc;
    margin-bottom: 17px;
    outline: none;
    box-sizing: border-box;
}

/* Confirm-Msg */
.confirm-message {
    position: relative;
    width: 80%;
    display: flex;
    left: 2em;
    margin-top: 50px;
    border-radius: 10px;

}

.confirm-wrapper {

    position: relative;
    height: inherit;
    color: inherit;
    text-align: center;
    max-width: fit-content;
    padding-inline: 27px;
}
/* SUB-HEADER */
.sub-header {
    background: url("../images/hero.webp") no-repeat center center/cover;
    height: 200px;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: var(--AlignItems-Center);
    font-size: 150%;
    font-weight: 400;


}

.sub-header h1 {
    margin-top: 80px;
}

/* ABOUT US */
.about-us {
    width: 80%;
    margin: auto;
    padding-top: 80px;
    padding-bottom: 50px;
}

.about-col {
    flex-basis: 48%;
    padding: 30px 2px;
}

.about-col img {
    width: 90%;
    max-height: fit-content;
}

.about-col h2 {
    padding: 0;

}

.about-col p {
    padding: 15px 0 25px;
}

.red-btn {
    border: 1px dotted #f44336;
    background: transparent;
    color: #f44336;
}

.red-btn:hover {
    color: #fff;
}

/* FOOTER */
.footer {
    width: 100%;
    text-align: var(--textCenterAlign);
    padding: 30px 0;
}

.footer h4 {
    margin-bottom: 25px;
    margin-top: 20px;
    font-weight: 600;

}

.fa-heart-pulse {
    color: inherit;
}

#social-networks {
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}





body {
    background: #addfb4;
    font-family: 'Lato', sans-serif;
}

.menu {
    display: flex;
    flex-direction: column;
    min-height: fit-content;
    grid-gap: 20px 40px;
    padding: 10px 10px 10px;
}

.menu-heading {
    background: #3a3a3a;
    color: #fff;
    margin-bottom: 30px;
    padding: 30px 0;
    position: relative;
    text-align: center;

}

.menu-heading>h1 {
    display: block;
    font-weight: 400;
    font-size: 32px;
    letter-spacing: 10px;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.menu-heading>h3 {
    font-weight: 600;
    font-size: 22px;
    letter-spacing: 5px;
    text-transform: uppercase;
}

/* food-items */

.menu {
    display: flex;
    flex-direction: column;
    min-height: fit-content;
    grid-gap: 20px 40px;
    padding: 10px 10px 10px;
}

.menu-heading {
    background: #3a3a3a;
    color: #fff;
    margin-top: 45px;
    margin-bottom: 30px;
    padding: 30px 0;
    position: relative;
    text-align: center;

}

.menu-heading>h1 {
    font-weight: 400;
    font-size: 32px;
    letter-spacing: 10px;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.menu-heading>h3 {
    font-weight: 600;
    font-size: 22px;
    letter-spacing: 5px;
    text-transform: uppercase;
}

/* food-items */
.food-items {
    display: block;
    position: relative;
    margin-bottom: 0;
    grid-template-rows: auto 1fr;
    border-radius: 15px;
    right: 0;
    left: 0;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.6);
    transition: .2s ease-in-out;
}

.food-items img {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 15px 15px 0 0;

}

.menu-heading > h1 {
    grid-column: 1/-1;
    text-align: center;
}

.details {
    padding: 20px 10px;
    display: flex;
    flex-direction: column;    
}

.details-sub {
    display: grid;
    grid-template-columns: auto auto;
}

.details-sub>h5 {
    font-weight: 600;
    font-size: 18px;

}

.price {
    text-align: right;
}

.details>p {
    color: inherit;
    font-size: 15px;
    line-height: 28px;
    font-weight: 400;
    align-self: stretch;
}

.details>button {
    background: inherit;
    border-radius: 5px;
    outline: none;

}

.details>button:hover {
    background: var(--BG-Color);
    cursor: pointer;
    transform: scale(.97);
}

.details>button {
    background: inherit;
    border-radius: 5px;
    outline: none;

}

.details>button:hover {
    background: var(--BG-Color);
    cursor: pointer;
    transform: scale(.97);
}

/* Media Query: tablet and larger screen (768px and up) */
@media screen and (min-width: 768px) {
    nav {
        display: block;
        box-shadow: none;
        width: fit-content;
        position: relative;
        padding-right: 1em;


    }

    #menu {
        display: var(--display-flex);
    }


    #menu>li {
        padding-left: 1rem;

    }
    .details>p{
        font-size: 20px;
        font-weight: 300;
    }


    #logo {
        font-size: 280%;
        line-height: 75px;
        margin: 0 0.5rem;
    }

    .nav-toggle-label {
        display: none;
    }

    /* #hero */
    #cover-text>h1 {
        display: block;
        justify-content: center;
        text-align: var(--textCenterAlign);

    }

    #cover-text>p,
    #cover-text>span {
        margin-top: 40px;
        padding: 0 25px;
        font-size: 25px;
    }

    .cta h1 {
        text-transform: none;
        display: block;
        color: #fff;
        margin-bottom: 40px;
        padding: 0;
    }

    /* SPECIALS */
    .row {
        display: flex;
        justify-content: space-between;
    }

    /* Confirm Msg */

    .confirm-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;

    }

    .confirm-message {
        width: 80%;
        margin-top: 100px;
        max-width: fit-content;
        left: 10%;
    }

    /* Menu */
    .food-items {
        display: grid;
        grid-template-columns: auto auto;

    }
    .menu-heading>h1 {
        display: block;
        text-align: center;
    }

    .menu {
        /* display: flex; */
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex: auto;
        margin-top: 30px;
    }
    .footer{
        margin-top: 200px;
    }

}

/* Media Query: small PC and larger screen (992px and up) */

@media screen and (min-width:992px) {
    #menu a:hover {
        border-bottom: 1px solid #3a3a3a;
    }

    #cover-text {
        width: 80%;


    }

    /* CTA */

    .cta h1 {
        display: block;
    }

    /* #cover-text {
        width: 500px;
        width: fit-content;
        
    } */

    .confirm-message {
        display: flex;
        min-height: 20vh;
        margin-top: 120px;
        width: 100%;
        left: 15%;
        right: 10px;
        text-align: center;
        align-items: center;
        

    }

    /* Menu */
    .food-items{
        margin: auto;
        width: 85%;
        display: grid;
        grid-template-columns: 1fr 3fr;
    }

    



}
