/* Google font import*/

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Montserrat:wght@100;300;400;900&family=Oswald:wght@200;300;400;500;600;700&family=Poppins:wght@100;300;400;500;600;700&family=Ubuntu:wght@300;400;700&display=swap');
/* Asterisk Wildcard Selector to override browser default styles */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


:root {

    --primaryColor: linear-gradient(rgba(122, 226, 162, 0.998), rgba(80, 151, 123, 0.88));
    --headerColor: linear-gradient(45deg, rgba(74, 80, 74, 0.916), rgb(33, 67, 33), green);
    --footerColor: #3a3a3a;
    --textColor: #fff;
    --text-box-color: rgba(253, 253, 253, 0.878);
    /* --secondaryTextColor:#f1efef ;*/
    --font-size: 2.5rem !important;
    --AccentGreen: #95f4ab;

    /* Hover shadow */
    --filter-Shadow: drop-shadow(0 0 20px rgba(0, 0, 0, 0.2));


    /* ALIGNMENT */
    --textCenterAlign: center;
    --textRightAlign: right;
    --textLeftAlign: left;

    --display-flex: flex;
    --JC-spaceBtw: space-between;
    --JC-spaceArd: space-around;
    --AlignItems-Baseline: baseline;
    --AlignItems-Center: center;

}

.header-Custom {
    --headerColor: linear-gradient(45deg, rgba(74, 80, 74, 0.916), rgb(33, 67, 33), green);
    --textAlign: center;
    --JC-spaceBtw: space-between;
    --JC-spaceArd: space-around;
    --BG-Color: #ffffff;





}

body {
    /* min-height allows  to strecth larger than Heigth of screen when theres enough content on the screen ; */
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic project styles */
    color: #3a3a3a;
    font-family: 'Lato', sans-serif;

}

/* HEADER */
header {
    background-color: #fff;
    position: fixed;
    width: 100%;
    z-index: 99;
    padding-inline: 1rem;
    box-shadow: 0 2px 2px var(--footerColor);

    /* To set the toggle add a display flex to here and JC-sBtw */
    display: var(--display-flex);
    justify-content: var(--JC-spaceBtw);
    align-items: var(--AlignItems-Baseline);


}

header a {
    text-decoration: none;
    color: var(--primaryColor);

}

h1{
    display: var(--display-flex);
    text-transform: uppercase;
    color: var(--headerColor);
    font-family: 'Oswald', sans-serif;
    letter-spacing: 2px;
    align-items: var(--AlignItems-Center);
}

#menu{
    letter-spacing: 4px;
    list-style: none;
    font-size: 110%;
    font-weight: 250;

}
#menu >li{
    margin-bottom: 1em;
}

/* NavBar style with toggle dropdown */
/* Add Top: 100% to tell nav to start from bottom of Parent bcos we add flex to the header */
nav{
    position: absolute;
    background-color: inherit;
    width: 100%;
    left: 0;
    padding-inline: 1rem;
    box-shadow: 0 2px 2px var(--footerColor);
    display: none;
    top: 100%;

}

/* NAV Toggle */
#nav-toggle:checked~nav{
    display: block;
}
#nav-toggle{
    display: none;
}
.nav-toggle-label{
    /* cursor: pointer; */
    font-size: 2rem;
    font-weight:100;
}
.active{
    border-bottom: 1px solid var(--footerColor);
}

/* MAIN */
main {
    /* Make main take up Surplus space and push footer down */
    margin-top: 47px;
    flex: 1 0 auto;

}
#hero{
    background: url("../images/hero.webp") no-repeat center center/cover;
    height: 600px;
    width: 100%;
    position: relative;

}
#cover-text {
    
    font-size: 130%;
    position: absolute;
    width: 80%;
    /* color: var(--text-box-color); */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: var(--textCenterAlign);
}

#cover-text h1 {
    display: block;
    color: #fff;
    padding-inline: 15px;
    font-size: 62px;
    line-height: 1.5em;
    margin-top: 90px;

}

#cover-text p, #cover-text span{
    color: #fff;
    font-size: 20px;
    font-weight: bold;

}



footer {
    color: red;
}